<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .active{
            background-color: #bbbbbb;
        }
        .message-box{
            background-color: green;
        }
        .messagebox-close{
            float: right;
        }
        .success{
            background-color: lightgreen;
            border: 1px solid green;
        }
        .warning{
            background-color: #f66;
            border: 1px solid #d63200;
        }
        .icon {
            width: 1em;
            height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
    <script src="http://at.alicdn.com/t/font_2077752_fbkv70ixgda.js"></script>
</head>
<body>
    <!--宿主文件-->
    <div id="app">
        <!--消息弹框-->
        <message :show.sync="show" class="success">
            <template v-slot:title="slotprops">
                <strong>{{slotprops.subject}}</strong>
            </template>
            <template >
                新建课程成功 !
            </template>
        </message>

        <message :show.sync="showWarn" class="warning">
            <template >
                <strong>请输入课程名称！</strong>
            </template>
        
        </message>

        <!--插值文本-->
        <h2> 
            <svg class="icon">
                <use xlink:href="#icon-cart"></use>
            </svg>
            {{ title }}
        </h2>

        <!--heading组件-->
        <heading :title="title" :icon="'cart'">{{title}}</heading>

        <!--批量删除多个消息弹框-->
        <div class="delmsgbox" v-permission="'user'">
            <button @click="$bus.$emit('message-close')">清除消息对话框</button>
        </div>

        <!--用户输入-->
        <!-- <p>
            <input type="text" v-model="course" @keydown.enter="addCourse">
            {{course}}
            <button @click="addCourse">新增</button>
        </p> -->
        <course-add v-model="course" @add-course="addCourse"></course-add>
        
        <!--条件渲染-->
        <p v-if="courses.length===0">没有任何课程信息</p>

        <!--列表渲染-->
        <!-- <div v-for="c in courses" :key="c" :class="{active: selectCourse==c}" @click="selectCourse=c;">
            {{ c }}
        </div> -->

        <!--style-->
        <!-- <div class="course-list" v-else>
            <div v-for="c in courses" :key="c" :style="{backgroundColor: selectCourse===c?'#bbbbbb':'transparent'}" @click="selectCourse=c;">
                {{ c }}
            </div>
        </div> -->
        <!--批量更新价格-->
        <input type="text" v-model.number="price"><button @click='batchUpdate'>批量更新价格</button>
        
        <!--课程列表-->
        <course-list :courses="courses"></course-list>

        <!--课程总数-->
        <p>
            <!--表达式-->
            <!-- 课程总数:{{courses.length+'门'}} -->
            <!--计算属性-->
            <!-- 课程总数:{{total}} -->
            <!--监听器-->
            课程总数:{{total}}
        </p>
    
    
        
    </div>
    <script src="vue.js"></script>
    <script>
        //模拟角色
        const role='admin'
        //自定义指令
        Vue.directive('foucus', {
            inserted(el){
                el.focus()
            }
            
        });

        Vue.directive('permission', {
            inserted(el,binding){
                if(binding.value!==role){
                    el.parentElement.removeChild(el)
                }

            }
           
                // el.style.arg = binding.value.arg;
         
        });
        //总线
        Vue.prototype.$bus=new Vue();

        //heading组件
        //<heading :level="2" :title="title" icon="cart">{{title}}</heading>
        //<h2 title="title"><svg><use x:href="#icon-cart"></use></svg></h2>
        Vue.component("heading",{
            functional:true,
            props:{
                level:{
                    type:String,
                    default:'2'
                },
                title:{
                    type:String,
                    default:''
                },
                icon:{
                    type:String
                }
            },
            render(h,context){
                console.log(context)
                //子节点数组
                let children=[]

                //属性获取
                const {icon,title,level}= context.props

                //icon属性判断的处理逻辑
                if(icon){
                    //<svg><use xlink:href="#icon-cart"></use></svg>
                    children.push(h(
                        'svg',
                        {class:'icon'},
                        [h(
                            'use',
                            {attrs:{'xlink:href':"#icon-"+icon}}

                        )]
                    ))
                }
                //拼接子节点
                children=children.concat(context.children);
                const vnode=h(
                    "h"+level,//参数1：标签名称
                    {attrs:{title}},
                    children//参数3：子节点vnode数组
                );
                console.log(vnode);
                console.log(context.children);
                return  vnode;
            }
        })

        function getCourses(){
            return new Promise(
                resolve => {
                    setTimeout(() => {
                        resolve([{name:'web全栈',price:2},{name:'web高级',price:3}]);
                    }, 2000);
                }
            )
        }

        //弹窗组件
        Vue.component('message',{
            props:['show','showWarn'],
            template:`
            <div v-if="show" >
                <slot name="title" subject="标题"></slot>
                <!--通过slot传入内容-->
                <slot></slot>
                <span class="messagebox-close" @click="$emit('update:show',false)">x</span>
            </div>
            `,
            mounted(){
                this.$bus.$on("message-close",()=>{
                    this.$emit('update:show',false)
                })
            }
        });
        //课程新增组件
        Vue.component('course-add',{
            props:['value'],
            template:`
                <div>
                    <p>
                        <input :value='value' type="text" @input="onInput" @keydown.enter="addCourse"  v-foucus >
                        {{value}}
                        <button @click="addCourse">新增</button>
                    </p>
                </div>
            `,
            methods:{
                addCourse(){
                    this.$emit('add-course')
                },
                
                onInput(e){
                    this.$emit('input',e.target.value)
                }
            },
            // mounted () {
            //     this.$refs.inp.focus();
            // }
        });

        //课程列表组件
        Vue.component('course-list',{
            data(){
                return{
                    selectCourse:''
                }
            },
            props:{
                courses:{
                    type:Array,
                    default:[]
                }
            },
            template:`
            <!--style-->
            <div class="course-list" v-else>
                <div v-for="c in courses" :key="c.name" :style="{backgroundColor: selectCourse===c?'#bbbbbb':'transparent'}" @click="selectCourse=c;">
                    {{ c.name }}  $ {{c.price}}
                </div>
            </div>
            `,
            filters: {
                Currency: function(value,symbol='$') {
                    return symbol+value;
                }
            }
        });
        //创建vue实例
        const app=new Vue({
            el:'#app',
            data() {
                return {
                    title:'开课吧购物车',
                    course:'',
                    courses:[],
                    show:false,
                    showWarn:false,
                    price:0
                }
            },
            methods: {
                addCourse(){
                    if(this.course){
                        this.courses.push({name: this.course})
                        this.course=''
                        this.show=true
                    }
                    else{
                        this.showWarn=true
                    }
                    
                },
                batchUpdate(){
                    this.courses.forEach(c => {
                        // c.price=this.price
                        Vue.set(c,'price',this.price)
                    });
                }
               
            },
            computed: {
                total() {
                    return this.courses.length+'门'
                }
            },
            watch: {
                courses: {
                    immediate: true,
                    // deep: true,
                    handler(newValue, oldValue) {
                        total=newValue.length+'门'
                    }
                }
            },
            async created(){
                this.courses= await getCourses();
                this.batchUpdate();
                console.log(this.courses)
            }
          
        });

        
        console.log(app.$options.render)
        // setTimeout(() => {
        //     app.title="miu~~"
        // }, 1000);
    </script>
</body>
</html>
